.body-content .container{
    max-width: 1300px;
}
.header .logo img{
    width: 75%;
    height: 75%;
}
 .bg{
    background: linear-gradient(to right,rgb(194, 132, 223),rgb(228, 125, 223));
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;}
.content .bg  h2{
    font-size: 2rem;
    font-weight: 500;
    max-width: 306px;
    margin: 0 auto;
}
.content-footer .img-avatar {
   max-width: 280px;
   margin-right: -200px;
  }

  .content-footer .img-avatar img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    /* max-width: 100%; */
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 17%;
    height: 67%;
    bottom: 0;
    left: 0;
    top: 0;
    /* position: absolute; */
    object-position: 50% 50%;
    object-fit: cover;
    border-radius: 50%;

  }
  .nav-menu img{
    max-width: 100px;
  }
  .right-content-body {
    height : 100%;
    padding: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 /7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
  }
  .icon-left i {
    color: #0f3caa;
    font-size: 30px;
  }
  #carouselExampleIndicators {
      background-color: ghostwhite;
      height: 100%;
  }
  .text-secondary {
      padding: 0px 15px;
  }
